<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main style="margin-top: 100px;">
                <div class="titles">
                    <h2>All <span>Products</span> </h2>
                </div>
                <div class="cart-container">
                    <% if (prods.length > 0) { %>
                        <div class="row">
                            <% for (let product of prods) { %>
                                <form action="/admin/delete-product" method="POST">
                                    <article class="cart col-lg-3 col-md-4 col-sm-4">
                                        <header>
                                            <h1>
                                                <%= product.title %>
                                            </h1>
                                        </header>
                                        <div>
                                            <img src="<%= product.image %>" alt="A Book">
                                        </div>
                                        <div>
                                            <h2>
                                                <%= product.price %>
                                            </h2>
                                            <p>
                                                <%= product.desc %>
                                            </p>
                                        </div>
                                        <div>
                                            <a href="/admin/edit-product/<%=product.id%>?edit=true" class="primary-btn">Edit</a>
                                            <input type="hidden" value="<%= product.id %>" name="productId">
                                            <button type="submit" class="primary-btn delete">Delete</button>

                                        </div>
                                    </article>
                                </form>
                                <% } %>
                        </div>
                </div>
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>

            </main>
            <%- include('../includes/footer.ejs') %>

                <%- include('../includes/end.ejs') %>