<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
<<<<<<< HEAD
            <script src="/bootstrap.bundle.min.js"></script>
            <main style="margin-top: 250px;">
                <h1>No Orders</h1>
            </main>
<<<<<<< HEAD
=======
=======
            <!-- <script src="/bootstrap.bundle.min.js"></script> -->
       
               
                <% if (cart.length != 0) { %>     <!-- lw d5l 3la checkout w lessa mtlbsh orders w array fadia -->
                 <h1 class="page-title">My Cart</h1>
                 <br>
                <table class="table table-striped alignmiddle">
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                        <th>Subtotal</th>
                    </tr>
                    <% var total =0 ;%>
                    <% cart.forEach( function(item){  %>
                    <% var sub = parseFloat( item.productData.qty) * parseFloat(item.productData.price) %>  
                    <% total += sub %>  
                        <tr>
                            <td><img style="width: 100px; height: 100px;" src="<%= item.productData.image%>" alt=""></td>
                            <td><%= item.productData.title %></td>
                            <td><%= item.productData.price %></td>
                            <td><%= item.productData.qty %></td>
                            <td>
                                <form action="/cart-delete-item" method="POST">            
                                    <input type="hidden" value="<%= item.productData.id %>" name="productId" >
                                    <input type="submit" value="delete">
                                </form>
                            </td>
                            <td><%= sub %></td>
                        </tr>
                        <% }); %>
                        <tr>
                        <td colspan = "5" align="right"><b>Total : </b><%= parseFloat(total).toFixed(2) %></td>
                        </tr>
                        <tr>
                            <td colspan = "5" align="right"><a class="button-small" href="/checkout/clear">clear cart</a></td>
                        </tr>
                        <tr>
                            <td colspan = "5" align="right"><a class="button-small" href="#">Order now</a></td>
                        </tr>
                     

                </table>

                <% }else { %>
                  <h3 class= "text-center"> Your card is empty</h3>  
                 <% } %>
>>>>>>> a9c30c69edc54831c79d63698071a91c92b12ba5
>>>>>>> 18775f7dfde1e8686b11fa6a2c29f53c5e28d2b6

            <%- include('../includes/footer.ejs') %>
                <%- include('../includes/end.ejs') %>